[
    {
        "block_id": 1,
        "timestamp": "2025-12-22T07:23:44Z",
        "data": {
            "patient_id": "PSN-001",
            "clinic_name": "Clinic A",
            "diagnosis": "Flu",
            "treatment": "Amoxicillin",
            "date": "2025-12-11 10:00:00",
            "doctor": "Dr. John"
        },
        "prev_hash": null,
        "current_hash": "91562676ddf97c8c68fd405a882220f5cbb894922f03df1129f8e3c1fe8de12f"
    },
    {
        "block_id": 2,
        "timestamp": "2025-12-22T07:27:47Z",
        "data": {
            "patient_id": "PSN-001",
            "clinic_name": "Clinic A",
            "diagnosis": "Suspected Pneumonia",
            "treatment": "Referral to Clinic B + X-Ray",
            "date": "2025-12-12 09:00:00",
            "doctor": "Dr. John"
        },
        "prev_hash": "91562676ddf97c8c68fd405a882220f5cbb894922f03df1129f8e3c1fe8de12f",
        "current_hash": "0d1b5579ca813237a46ad2f74d8049b0a21aaed4c7b5d53117adda95e3a17d76"
    },
    {
        "block_id": 3,
        "timestamp": "2025-12-22T07:28:34Z",
        "data": {
            "patient_id": "PSN-001",
            "clinic_name": "Clinic B",
            "diagnosis": "Pneumonia",
            "treatment": "Antibiotic + Nebulizer",
            "date": "2025-12-12 14:30:00",
            "doctor": "Dr. Andi"
        },
        "prev_hash": "0d1b5579ca813237a46ad2f74d8049b0a21aaed4c7b5d53117adda95e3a17d76",
        "current_hash": "ed45fd2ef92f90fe8817f218d699c50b205a24751d7709085d0bd1e10a37ef46"
    },
    {
        "block_id": 4,
        "timestamp": "2025-12-22T07:29:18Z",
        "data": {
            "patient_id": "PSN-001",
            "clinic_name": "Clinic B",
            "diagnosis": "Improved",
            "treatment": "Follow-up + Rest",
            "date": "2025-12-19 10:15:00",
            "doctor": "Dr. Andi"
        },
        "prev_hash": "ed45fd2ef92f90fe8817f218d699c50b205a24751d7709085d0bd1e10a37ef46",
        "current_hash": "0e8887bd50cb79bb6e1c8da36cfdfe8d8add3d261aa9057bd44a574d756b4b98"
    }
]